<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rp.service.kill.mapper.ItemMapper">


    <select id="selectAll" resultType="com.rp.service.kill.entity.ItemKill">
    select a.* ,b.name name,
    (case
    when (now() BETWEEN a.start_time and a.end_time and a.total >0)
    then 1
    else 0
    end) as canKill
    from item_kill a LEFT JOIN item b
    on a.item_id = b.id where a.is_active=1

    </select>
</mapper>
